.box {
  display: flex;
  height: auto;
}

.box-left {
  width: 20%;
  height: 97vh;
}

.box-right {
  width: 80%;
  height: 97vh;
}

.circle {
  margin: -20px 0px 0px -20px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hover-detail {
  width: 150px;
  height: 190px;
  text-align: center;

  img {
    width: 150px;
    height: 120px;
  }
}
